{% extends "layout.html" %}

{% block title %}
My First Django App
{% endblock %}


{% block content %}
    <h1 class="text-center mt-5">Welcome to my First Django Project</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'tweet_create' %}" class="btn btn-primary mt-3">Create a Tweet</a>
    {% endif %}
    <div class="container row gap-3 mt-3">
        {% for tweet in tweets %}
        <div class="card" style="width: 18rem;">
    {% if tweet.photo %}
    <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Photo attached to tweet by {{ tweet.user.username }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{tweet.user.username}}</h5>
        <p class="card-text">{{tweet.text}}</p>
        {% if user == tweet.user %}
        <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
    </div>
    {% empty %}
        <p class="text-body-secondary">No tweets yet.</p>
    {% endfor %}
</div>
{% endblock content %}
