{% extends "layout.html" %}

{% block title %}
My First Django App
{% endblock %}


{% block content %}
<div class="col-md-8 col-lg-6 mx-auto mt-5">
    <h1 class="mb-4">Delete Tweet</h1>
    <p>Are you sure you want to delete this tweet?</p>
    <p class="text-body-secondary">{{ tweet.text }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'tweet_list' %}" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>
{% endblock content %}
